<!DOCTYPE HTML>
<html lang="ch">
	<head>
		<title>404</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/heiqiu.png">
    <style>
      img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
	</head>
	<body>
    <img src="/public/img/404.png" alt="404" title="404">
	</body>
</html>