<!DOCTYPE HTML>
<html lang="ch">
	<head>
		<title>小黑口语</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/heiqiu.png">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="../public/img/logo.png" alt="" /></span>
						<h1><strong>小黑口语</strong><br/> 这是一个可以<strong>练习英语口语</strong>的<strong>微信小程序</strong><br /></h1>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a >
										<img src="../public/img/show/ise.png" alt="" />
										<h3>语音测评</h3>
									</a>
									<a  >
                    <img src="../public/img/thumbs/01.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="../public/img/thumbs/02.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="../public/img/thumbs/05.jpg" alt="">
                    <h3> </h3>
                  </a>
								</div>
								<div>
									<a  >
										<img src="../public/img/show/tts.png" alt="" />
										<h3>语音合成</h3>
									</a>
									<a  >
										<img src="../public/img/show/ocr.png" alt="" />
										<h3>OCR识别</h3>
									</a>
									<a  >
										<img src="../public/img/show/aiui.png" alt="" />
										<h3>智能语音助手</h3>
									</a>
									<a  >
                    <img src="../public/img/thumbs/03.jpg" alt="">
                    <h3> </h3>
                  </a>
								</div>
								<div>
									<a  >
										<img src="../public/img/show/lfasr.png" alt="" />
										<h3>语音转写</h3>
									</a>
									<a  >
                    <img src="../public/img/thumbs/06.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="../public/img/thumbs/07.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="../public/img/thumbs/04.jpg" alt="">
                    <h3> </h3>
                  </a>
								</div>
							</section>
					</section>

				<!-- Footer -->
					<footer id="footer">
            <img src="../public/img/AppletCode.png" alt="" style="width: 100%;">
            <ul class="icons">
							<li><a   class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a   class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a   class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a   class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a   class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<p>Copyright &copy; 2020 <br/>GitHub <a href="https://github.com/TThz-hz/oral-practice-miniprogram">TThz</a><br/><a href="http://www.beian.miit.gov.cn/">豫ICP备20005464号</a></p>
          </footer>
          
			</div>

	</body>
</html>