<!DOCTYPE HTML>
<html lang="ch">
	<head>
		<title>小黑口语</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/heiqiu.png">
    <style>
      .image {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #footer {
        color:#939393;
        -moz-user-select:none; /*火狐*/
        -webkit-user-select:none; /*webkit浏览器*/
        -ms-user-select:none; /*IE10*/
        -khtml-user-select:none; /*早期浏览器*/
        user-select:none;
      }
      #footer a {
        display:inline-block;
        text-decoration:none;
        height:20px;
        line-height:20px;
        color:#939393;
      }
      #footer p {
        float:left;
        height:20px;
        line-height:20px;
        margin: 0px 0px 0px 5px;
      }
    </style>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="/public/img/logo.png" alt="" /></span>
						<h1><strong>小黑口语</strong><br/> 这是一个可以<strong>练习英语口语</strong>的<strong>微信小程序</strong><br /></h1>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a >
										<img src="/public/img/show/home.jpg" alt="" />
										<h3>首页</h3>
									</a>
									<a >
										<img src="/public/img/show/ise.jpg" alt="" />
										<h3>语音测评</h3>
									</a>
									<a  >
                    <img src="/public/img/thumbs/01.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="/public/img/thumbs/02.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="/public/img/thumbs/05.jpg" alt="">
                    <h3> </h3>
                  </a>
								</div>
								<div>
									<a  >
										<img src="/public/img/show/tts.jpg" alt="" />
										<h3>语音合成</h3>
									</a>
									<a  >
										<img src="/public/img/show/ocr.png" alt="" />
										<h3>OCR识别</h3>
									</a>
									<a  >
										<img src="/public/img/show/aiui.jpg" alt="" />
										<h3>智能语音助手</h3>
									</a>
									<a  >
                    <img src="/public/img/thumbs/03.jpg" alt="">
                    <h3> </h3>
                  </a>
								</div>
								<div>
									<a  >
										<img src="/public/img/show/lfasr.png" alt="" />
										<h3>语音转写</h3>
									</a>
									<a  >
										<img src="/public/img/show/profile.jpg" alt="" />
										<h3>个人中心</h3>
									</a>
									<a  >
                    <img src="/public/img/thumbs/06.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="/public/img/thumbs/07.jpg" alt="">
                    <h3> </h3>
                  </a>
									<a  >
                    <img src="/public/img/thumbs/04.jpg" alt="">
                    <h3> </h3>
                  </a>
								</div>
							</section>
					</section>

				<!-- Footer -->
					<footer id="footer">
            <img src="/public/img/AppletCode.png" alt="" style="width: 100%;">
            <ul class="icons">
							<li><a   class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a   class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a   class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a   class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a   class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
            <div>Copyright &copy; 2020 TThz</div>
            <div>
              <a href="https://github.com/TThz-hz/oral-practice-miniprogram">GitHub TThz</a>
            </div>
            <div>
              <a href="http://www.beian.miit.gov.cn/">豫ICP备20005464号</a>
            </div>
            <div >
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41152702000139" >
                <img src="/public/img/show/icon_biean.png" style="float:left;"/>
                <p>豫公网安备 41152702000139号</p></a>
            </div>
          </footer>
          
			</div>

	</body>
</html>